body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#11B1FB,#A5D4EE);
    padding: 15px 20px;
    border-radius: 20px;
    position: relative;
    top: 30px;
}
/* navigation style starts here */
#navigation{
    background-color:purple;
}
#navigation .nav ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
#navigation .nav ul li{
    padding: 20px 25px;
    list-style-type: none;
}
#navigation .nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    
}
/* home style starts here */
#home{
    display: flex;
    margin: 5%;
    margin-bottom: 150px;
}
#home .half-width{
    width:50%;
    margin: 0 20px;
}
#home .half-width h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
}
#home .half-width h1 span{
    color: #11B1FB;
}
#home .half-width img{
    width:70%;
    margin-left: 100px;
}

/* about section style starts here */
#about{
    display:flex;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
#about .half-width{
    width:50%;
    margin: 0 60px;
}
#about .half-width img{
    width:70%;
    margin-left: 20px;
    position: relative;
    top: 25px;
}
#about  #para{
    margin-top: 100px;
}
#about  #para h1{
    font-size:40px;
    color: #11B1FB;
}
/* recipie style starts here */
#recip{
    margin: 5%;
    margin-bottom: 100px;
}
#recip .recip-full{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 50px; 
    text-align: center;
}
#recip .recip-full h1{
    color: indianred;
    font-size: 40px;
}
#recipie{
    display: flex;
    justify-content: center;
}
#recipie .one-third{
    width:33.33%;
    margin-left: 70px;
    text-align: center;
    padding-top:28px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px gray;
}
#recipie .one-third img{
    width: 250px;
    height: 200px;
    border-radius: 20px;
}
#recipie .one-third p{
    padding: 10px;
    text-align: justify;
}
/* sign up style starts here */
#sign-up{
    width: 700px;
    margin:50px auto;
}
#sign-up h2{
    text-align: center;
    font-size: 40px;
    color:#11B1FB;
}
#sign-up .sign-up-border{
    background-color: lightslategray;
    border: 3px solid pink;
    padding: 15px 20px ;
    text-align: center;
}
#sign-up .sign-up-border .sign-up-space{
    padding: 10px 0;
}
#sign-up .sign-up-border .sign-up-space input{
    height: 20px;
    width:60%;
}
#sign-up .sign-up-border .sign-up-go{
    background-color: green;
    padding: 10px 20px;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    border-radius: 5px;
}
#sign-up .sign-up-border .sign-up-go a{
    text-decoration: none;
    color: white;
}
/* footer style starts here */
#myFooter {
    margin: 0;
    text-align: center;
    background-color: #000;
    color: white;
    height: 150px;
    padding: 25px 0;
}
#myFooter .foot1{
    color: #11B1FB;
}
#myFooter .foot2{
    color: #A5D4EE;
}
#myFooter p{
    color: #afc7d4;
}
